:root {
	/* CSS HEX */
	--burnt-sienna: #dd6e42ff;
	--dutch-white: #e8dab2ff;
	--paynes-gray: #4f6d7aff;
	--columbia-blue: #c0d6dfff;
	--platinum: #eaeaeaff;
	--barn-red: #6f1a07ff;
	--bistre: #2b2118ff;
}
