@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	/* CSS HEX */
	--burnt-sienna: #dd6e42ff;
	--dutch-white: #e8dab2ff;
	--paynes-gray: #4f6d7aff;
	--columbia-blue: #c0d6dfff;
	--platinum: #eaeaeaff;
	--barn-red: #6f1a07ff;
	--bistre: #2b2118ff;
}

html {
	background-color: var(--platinum);
}

body {
	background-color: var(--dutch-white);
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	color: var(--bistre);
}

header {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

h3 {
	text-align: center;
	color: var(--barn-red);
	text-decoration: underline;
	font-size: x-large;
}

h4 {
	font-size: large;
	color: var(--paynes-gray);
}

hr {
	margin: 2rem 0;
}

.col {
	padding: 1rem;
	background-color: var(--platinum);
	box-shadow: 0 -1px 3px var(--bistre), 0;
}

.col:nth-child(2) {
	background-color: var(--dutch-white);
}

a.button,
#contact form button {
	border: 2px solid var(--paynes-gray);
	color: var(--paynes-gray);
	padding: 1rem;
	font-size: large;
	display: block;
	text-align: center;
	font-weight: 700;
}

a.button:hover,
#contact form button:hover {
	background-color: var(--paynes-gray);
	color: var(--platinum);
}

span.label {
	background-color: var(--columbia-blue);
	border-radius: 1rem;
	padding: 0.4rem 0.8rem;
	font-size: smaller;
}

a {
	color: var(--bistre);
}

a:hover {
	color: var(--burnt-sienna);
}

.logo a:hover #path0 {
	fill: var(--burnt-sienna);
}

.logo a:hover #path1 {
	fill: var(--bistre);
}

header nav {
	padding: 1em 0.6rem;
}

header nav ul {
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

header nav li {
	list-style: none;
	margin: 0;
}

header nav li:first-child {
	text-decoration: none;
	list-style: none;
}

header nav a:hover,
header nav a.active {
	text-decoration: underline;
}

header nav a.active {
	color: var(--burnt-sienna);
	font-weight: 500;
}

.logo {
	height: 8rem;
	font-family: "Leckerli One", cursive;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: xx-large;
	display: inline-flex;
}

header,
a,
svg *,
.logo-color-alternate,
button {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.logo a {
	display: flex;
	place-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.logo svg {
	width: 6rem;
	height: 6rem;
	align-self: center;
}

.logo a,
.logo a:hover .logo-color-alternate,
header nav li a {
	text-decoration: none;
	color: var(--bistre);
}

.logo a .logo-color-alternate,
.logo a:hover,
header nav li a:hover {
	color: var(--burnt-sienna);
}

.full {
	padding-top: 1rem;
}

article {
	padding-left: 1rem;
	padding-right: 1rem;
}

footer {
	padding: 1rem;
}

#hero {
	/* background-color: var(--barn-red); */
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}

#hero h1 {
	font-size: x-large;
	text-align: center;
	color: var(--barn-red);
}

#hero h2 {
	font-size: small;
	text-align: center;
	color: var(--bistre);
}

#showroom,
#articles {
	text-align: justify;
}

#articles {
	background-color: var(--platinum);
	padding: 1rem;
}

#contact {
	padding: 1rem;
}

#contact form {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	margin: 0 auto;
}

#contact form label,
#contact form input,
#contact form textarea,
#contact form button {
	margin: 0.2rem 0;
}

#fav-license {
	font-size: xx-small;
}

@media screen and (min-width: 540px) {
	.logo {
		margin: 0 auto;
	}

	.logo svg {
		margin-right: 1rem;
	}

	header nav {
		margin: 0 auto;
		padding-top: 0;
	}

	header nav ul {
		justify-content: center;
	}

	header nav ul li {
		margin: 0 1rem;
	}

	#hero {
		padding: 5.4rem;
	}

	#hero h1 {
		font-size: 2.6rem;
	}

	#hero h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: xx-large;
	}

	h4 {
		font-size: x-large;
	}

	#contact form label,
	#contact form input,
	#contact form textarea,
	#contact form button {
		width: 24rem;
	}
}

@media screen and (min-width: 920px) {
	header {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	header > * {
		display: inline-block;
	}

	.logo {
		font-size: x-large;
		height: 5rem;
		margin-left: 0;
		padding-left: 1rem;
	}

	.logo svg {
		height: 4rem;
		width: 4rem;
	}

	header nav {
		display: inline-flex;
		padding: 0;
		margin-right: 0;
	}

	#hero {
		grid-column: span 2 / span 2;
	}

	#contact form label,
	#contact form input,
	#contact form textarea,
	#contact form button {
		width: 38rem;
	}
}

@media screen and (min-width: 1024px) {
	body {
		width: 1024px;
		margin: 0 auto;
		/* padding: 0.2rem 2rem; */
		filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
	}

	#showroom {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	#showroom :first-child {
		grid-column: span 2 / span 2;
	}

	#showroom > h3:first-child {
		grid-column: span 3 / span 3;
	}

	#showroom .col {
		background-color: var(--platinum);
	}

	footer p:not(#fav-license p) {
		text-align: center;
	}
}
